@page "/"

    
<nav class="nav nav-pills nav-justified">
       <a class="nav-item nav-link" href="shopseite">
           <span class="oi oi-cart" aria-hidden="true"></span>Shop
       </a>

      <a class="nav-item nav-link" href="product">
           <span class="oi oi-cloud-upload " aria-hidden="true"></span>Products Database
      </a>

    <a class="nav-item nav-link" href="bestellung">
        <span class="oi oi-cloud-upload " aria-hidden="true"></span>Bestellung Database
    </a>
</nav>


@code {

}
